node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.env.*.local
firebase-debug.log
firestore-debug.log
ui-debug.log
.firebase/
firestore-export/
*.log
.DS_Store
.idea/
.vscode/
*.iml
